.alert
  position: absolute
  left: 28vw
  top: 18vh
  width: 43vw
  height: 50vh
  outline: 1000rem solid rgba(82, 82, 82, 0.9)
  z-index: 1000

  background-color: white
  border: 12px solid color-red-dark
  padding: 1.75rem

.alert-close
  height: 2.5rem
  width: 2.5rem
  background-color: color-red-dark
  border-radius: 10px
  border: none
  padding: 10px
  float: right
  display: block

.alert-title
  font-size: 2em
  font-weight: 700
  margin-top: 0.25rem
  margin-bottom: 1rem
  pointer-events: none

.alert-text
  width: calc(100% - 3.25rem)
  font-size: 1.2em
  font-weight: 400
  margin-bottom: 1em
