.calendar
  width: 200px

.calendar-icon-container
  background: rgb(255,247,242)
  background: linear-gradient(to bottom, rgba(255,247,242,1) 0%, rgba(243,231,174,1) 100%)
  box-shadow: 0 0 0 2px color-gold,
              0 0 0 4px color-brown;
  border-radius: 300rem
  height: 3rem
  width: 3rem

.calendar-icon
  height: 2.5rem;
  width: 2.5rem;
  padding-left: 0.5rem

.calendar-daytime
  background: rgb(255,247,242)
  background: linear-gradient(to bottom, rgba(255,247,242,1) 0%, rgba(243,231,174,1) 100%)
  border-radius: 10px
  box-shadow: 0 0 0 2px color-gold,
              0 0 0 4px color-brown;
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  text-align: center

.calendar-number
  font-size: 1.2em
  line-height: 1
  text-transform: uppercase

.calendar-day
  font-size: 0.8em
