html 
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

*, *:before, *:after
  margin: 0
  padding: 0
  position: relative

body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	padding: 1em
	line-height: 1.5