.header
  display: flex

.header-logo
  flex-basis: 2rem
  width: 12rem

  img
    width: 12rem
    padding-right: 1rem
    position: relative
    left: -8px
    top: -6px

.header-meter
  flex-basis: calc(100% - 9rem)
  margin-right: 4rem
  margin-top: 0.3rem

// .header-meter .meter-inner
//   transition: width 1s cubic-bezier(1.000, 0.000, 0.000, 1.000)
