.lane
  background: rgb(255,247,242)
  background: linear-gradient(to bottom, rgba(255,247,242,1) 0%, rgba(243,231,174,1) 100%)
  border-radius: 10px
  box-shadow: 0 0 0 2px color-gold,
              0 0 0 4px color-brown;
  flex-grow: 1
  flex-basis: 33%
  height: 80vh
  overflow: scroll

.lane:not(:last-of-type)
  margin-right: 2rem

.lane-hover
  background: #E1E1E1
  transition: background 0.1s ease-in

.lane-title
  margin-top: 0.75rem
  text-align: center
