.meter-outer
  width: 100%;
  background-color: color-black
  border: 2px solid white
  border-radius: 6px
  height: 2em

.meter-inner
  background: rgb(244,109,117)
  background: linear-gradient(to bottom, rgba(244,109,117,1) 0%, rgba(244,109,117,1) 49%, rgba(237,94,85,1) 51%, rgba(237,94,85,1) 100%)
  border-radius: 4px 0 0 4px
  border-right: 2px solid white
  height: 100%
