@require '_common'

.board
	display: flex
	

.lane
	flex-grow: 1
	flex-basis: 33%
	height: 90vh
	overflow: scroll
	
.lane-hover
	background: lightgray

.card
	display: block
	border: 1px solid black
	margin: 0.25em
	border-radius: 5px
	
.meter-outer
	width: 100%;
	border: 1px solid black
	height: 2em
	

.meter-inner
	background: red
	height: 100%