// Dirty global vars
color-black = #515151
color-brown = #C07B20
color-gold = #E7D46A
color-green = #DEF1D4
color-purple = #A795C6
color-red = #ED5E55


// Componentsssssss!
@require '_base'
@require '_board'
@require '_calendar'
@require '_card'
@require '_lane'
@require '_meter'
